.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 780px 50px;
    grid-gap: 5px;
    grid-template-areas:
        "h h h h h h"
        "m c c c c c"
        "f f f f f f" 
}

.header {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6600AA;
}

.header .logo {
    order: 0;
    flex-grow: 0;
}
.header .items {
    flex-grow: 0;
}

.menu {
    grid-area: m;
    background-color: #009da5
}

.content {
    grid-area: c;
    background-color: #aa2d00
}

.footer {
    grid-area: f;
    background-color: #aa8800
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top:110px;
    margin-left: 10%;
    background-color: grey;
    height: 1200px;
}

.main .body {
    border-style: solid;
    margin-top: 10px;
}