<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gig DB</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="static/images/logo.png">
        </div>
        <div class="menu">
            LINKS GO HERE
        </div>
    </div>
    <div class="main">
        <div class="body">
            Login or something will go here
        </div>
        <div class="body">
            Some more stuff here
        </div>
        <div class="body">
            Woo!
        </div>
    </div>
</body>

</html>